//
@charset "UTF-8";

//
@import "compass";

// Import libs
@import 'libs/font-awesome/font-awesome';
@import 'libs/slick';
@import 'libs/colorbox';
@import 'libs/acf';

// Import base
@import 'base/variables';
@import 'base/color';
@import 'base/helper';
@import 'base/fonts';
@import 'base/functions';
@import 'base/mixin';
@import 'base/typography';

// Import components
@import 'components/components';

//Import layout
@import 'layout/layout';
@import 'layout/main';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';

// Import pages
//@import 'pages/home';

// ============================================================

// Start Style
p.site-title.hidden {
  display: none;
}

main {
  display: inline-block;
  width: 100%;
  padding-bottom: 50px;
}

section.sidebar-wrapper {
  float: left;
  width: 21.5%;
}

.main-content.has-sidebar {
  float: right;
  padding-left: 25px;
  padding-right: 0;
  width: 78.5%;
}
