{% extends 'layout.twig' %}

{% block content %}
  <h1>{{title}}</h1>
  {% include 'searchform.twig' %}
  {% for post in posts %}
    <article>
      <h3><a href="{{post.link}}">{{ post.title }}</a></h3>
      <p>{{post.content|excerpt(30)}}</p>
    </article>
  {% endfor %}
{% endblock %}