// Gray color
$gray-33: #333333;
$gray-3e: #3e101d;
$gray-e5: #E5E8EB;
$gray-df: #dfdfdf;
$gray-cd: #cdcdcd;
$gray-f9: #f9f9f9;
$gray-f5: #f5f5f5;
$gray-86: #868686;
$gray-c6: #C6C6C6;
$gray-66: #666666;

// Main color
$red: #8E2644;
$pink: #7C0028;
$black: #000000;
$white: #ffffff;
$green: #090;

// Valur color
$color-primary: $green;
$color-secondary: $pink;
$color-text: $black;
$color-link: $color-primary;
$color-border: $gray-c6;

// Custom color
$bg-page: $white;
$bg-feature: $color-primary;
$bg-footer: $gray-33;
$bg-button: $color-primary;
$bd-button: $gray-3e;
