<nav id="main-navigation">
  <div class="menu-icon">
    <i class="fa fa-bars"></i>Navigation
  </div>
  <div class="main-nav">
    <ul class="nav">
      {% include 'menu.twig' with {'menu': menu.main} %}

    </ul>
  </div>
</nav>
