<div class="footer-banner">
  {% if banner_footer %}
  <div class="banner-image"><img src="{{ banner_footer }}" alt=""></div>
  {% endif %}
  {% if copyright %}
  <div class="copyright">{{ copyright }}</div>
  {% endif %} 
</div>
